@using AllinOrder_Shahaf_Ofir_Snir.Shared.Entities

@page "/Test"

<h3>Test</h3>















@* 
<MudGrid Spacing="@spacing" Justify="Justify.Center">
    <MudItem>
        <MudPaper Height="240px" Width="180px"/>
        <MudTooltip Text="הוסף טקסט">
        <MudIconButton Icon="@Icons.Filled.TextIncrease" />
        </MudTooltip>
        <MudButton Variant="Variant.Filled" Color="Color.Primary">Primary</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Secondary">Secondary</MudButton>
    </MudItem>
    <MudItem>
        <MudPaper Height="240px" Width="180px"/>
        <MudTooltip Text="מחק">
        <MudIconButton Icon="@Icons.Filled.DeleteForever" />
        </MudTooltip>
        <MudButton Variant="Variant.Filled" Color="Color.Primary">Primary</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Secondary">Secondary</MudButton>
    </MudItem>
    <MudItem>
        <MudPaper Height="240px" Width="180px" />
        <MudTooltip Text="ערוך">
        <MudIconButton Icon="@Icons.Filled.ModeEdit" />
        </MudTooltip>
        <MudButton Variant="Variant.Filled" Color="Color.Primary">Primary</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Secondary">Secondary</MudButton>
    </MudItem>
</MudGrid>
 *@

@code {
    public int spacing { get; set; } = 3;
}


